body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
  }
  
  .container {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    background: teal;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .option {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #e0f7fa;
    border-radius: 5px;
    cursor: pointer;
  }
  